/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.08.2014, 08:44:49
    Author     : micha
*/

#header
{
    width: 800px;
    margin: 15px auto;
    border: 1px slateblue solid;
    text-align: center;
    padding: 10px 0;
}

#content
{
    width: 800px;
    margin: 0 auto;
}

#right
{
    float: left;
}

#left
{
    float: right;
}

#left select
{
    width: 200px;
}

form input
{
    margin: 10px 0;
}